<h2>Weather</h2>
<form action="/show" method="get" accept-charset="UTF-8" >
  <label for="city">Search city:</label>
  <input id="city" name="city" type="text" />
  <input name="commit" type="submit" value="Search" data-disable-with="Search" />
</form>